<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<p-blockUI [blocked]="blockedDocument" [target]="pc"></p-blockUI>
<p-card #pc>
    <p-header></p-header>
    <h3>我的申请</h3>

    <p-table
        [columns]="cols"
        [value]="datas"
        [loading]="loading"
        [paginator]="true"
        [rows]="10"
        selectionMode="single"
        [(selection)]="selectedData"
        (onRowSelect)="onRowSelect($event)"
        #dt1
    >
        <ng-template pTemplate="caption">
            <div class="ui-table-globalfilter-container">
                <input type="text" pInputText size="50" placeholder="全局搜索" (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:250px;">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{ col.header }}
                    <p-sortIcon
                        [field]="col.field"
                        ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"
                    ></p-sortIcon>
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns">
                    <input pInputText type="text" placeholder="{{col.label}}" class="ui-column-filter" style="width: 100%;"
                           (input)="dt1.filter($event.target.value, col.field, 'contains')">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" >
                <td
                    *ngFor="let col of columns"
                    class="thclass"
                    title="{{ rowData[col.field] }}"
                >
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-dialog header="详情" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '500px'}">

</p-dialog>

<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
