<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/"  method="post">

    <table>
        <h2>用户登录</h2>
        <tr>
            <td>用户名:</td>
            <td><input type="text" name="account" ></td>
        </tr>
        <tr>
            <td>密  码:</td>
            <td><input type="password" name="password" >
            </td>
        </tr>
    </table>
    <p align="center">
        <input type="submit" value="登陆" >
    </p>
</form>
</body>
</html>
